/* structural elements styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

section{
  position: relative;
  width: 100%;
}


.imagenes {
	position: absolute;
	top: 1rem;
	right: 8%;
	z-index: 5;
	width: 250px;
	max-width: 15vw;
	height: 250px;
}

/* figures and images */
article {
  content: "";
  clear: both;
  display: table;
  border: solid  darkgreen;
  border-radius: 10px;
  width: 50%;
  max-width: 900px;
  min-width: 500px;
  margin: 1vw auto;
}

article h3 {
  margin-top: 0;
  padding: 10px 10vw 30px;
  background-color: rgb(61, 201, 248);
  border-radius: 7px 7px 0 0;
}

article>p {
  margin: 20px;
}

figure {
  float: right;
  padding: 15px;
  margin: 3vw 0;
}

article:nth-child(even)>figure {
  float: left;
}

figure img {
  display:block;
  height: 185px;
  width: 185px;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  clear: both;
  color: darkgreen;
  font-weight: bold;
}

p {
  line-height: 1.20;
  margin-top: 1em;
}

footer {
  clear: both;
}
/* link styles */

.articulo {
  float: right;
}