* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

/*--header--*/
 header {
  width: 100%;
  background-color: rgb(61, 201, 248);
  height: auto;
} 

.imagenes {
  width: 120%;
  height: auto;
  margin-left: auto;

}

/*----------------Navegator----------------*/
/*
nav {
  text-align: center;
  font-size: 2vw;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.navegador {
  background-color: rgb(61, 201, 248);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(39, 157, 253);
}
*/
/*-----Section----*/
section {
  background-color: whitesmoke;
  padding: 1%;
  margin: auto;
}


h1 {
  font-size: 5vw;
  text-align: center;
  text-shadow: 3px 2px 5px lightgreen;
  color: darkgreen;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2vw;
}


h2,
h3,
h4,
h5,
dt {
  color: darkgreen;
  font-size: 1.5rem;
  padding-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
  

}

p {
  color: black;
  font-weight: 200;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1%;

}

dt {
  color: darkgreen;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 5px;
}

dd {
  font-size: 1.2rem;
}

dl {
  color: black;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
}

figcaption {
  font-size: 1rem;
}

.artop {
  text-align: center;
  font-size: 2rem;
}

/*---footer---*/
footer {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  background-color: rgb(61, 201, 248);
}

a:link {
  font-size: 25px;
  font-weight: bolder;
  color: darkgreen;

}

a:visited {
  color: darkgreen
}

a:hover {
  font-size: 100%;
  background-color: orange;
  color: black;
} 


/*--------------------Faqs------------------------------*/
ol {
  margin-left: 1% ;
}

li {
  font-size: 130%;
  text-align: left;
}

section li a:hover {
  font-size: 120%;
  text-decoration: none;
  color: darkgreen;
  border-bottom: 2px solid
}

/*------------------------Contact Form----------------*/
/*fieldset {
  border: 2px dashed darkgreen;
  font-size: 110%;
  max-width: 70%;
  margin: 25px auto;
}*/

fieldset legend {
  font-size: 200%;
  padding: 20px;
}

fieldset h3 {
  align-content: center;
  font-weight: 100;
}

fieldset label {
  margin: 10px 10px;
}

input,
textarea {
  border: 2px solid darkgreen;
  border-radius: 2px;
  padding: 8px 12px;
  margin: 4px 0;
}


.button {
  background-color: darkgreen;
  color: white;
  border: 1px;
  border-radius: 4px;
  font-size: 110%;
  font-weight: 300;
  margin: 10px 10px;
}

input radio {
  color: orange;
}

/*.button:hover {
  background-color: orange;
  color: white;
}*/

.centertext {
  text-align: center;
}

/*------------------- Table---------------------------*/
[id = awards] {
  text-align: center;
  font-size: 3rem;
 }

table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

table caption {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 2px;
}

th,
td {
  font-weight: 200;
  font-size: 120%;
  text-align: center;
  padding: 15px;
}

tr {
  background-color: lightblue;
}

tbody tr:nth-child(even) {
  background-color: rgb(109, 204, 236);
}

tbody tr:hover {
  background-color: orange;
}
